@use "sass:color";
@import "variables";



.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $color-secondary;
  color: $text-color;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $color-secondary-light;
  }

  &-confirm {
    background-color: $color-primary;
    &:hover {
      background-color: $color-primary-light;
    }
  }

  &-danger {
    background-color: $color-danger;
    color: $text-color;
    &:hover {
      background-color: color.adjust($color-danger, $lightness: 5%);
    }
  }
}
