@import "variables";

nav {
  height: 10svh;
  padding: 0.5rem 2rem;
  background-color: $color-primary;
  color: $color-primary;
  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;

    li {
      font-size: 1.2rem;
      font-weight: 600;
      color: $text-color;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
