$color-background: #fdf0d5; // Grigio molto chiaro freddo
$color-primary: #c1121f; // Rosso acceso principale
$color-primary-light: #e71523; // Variante chiara del rosso
$color-primary-dark: #780000; // Variante scura del rosso
$color-tertiary: hsl(0, 0%, 10%); // Nero "morbido" (non puro)
$color-secondary: #003049;
$color-secondary-light: #669bbc;

// Tipografia
$font-family-base: "Inter", sans-serif;
$font-size-base: 16px;

// Spaziature
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Border radius
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;
